<div class="container">

  <div class="card-panel" id="card">

    <h5>Cadastrar Lojista</h5>

    <div class="row" *ngIf="!mostrarPreloader">

      <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">

        <!-- Nome [(ngModel)]="dados_user.nome"  /// [ngModel]="dados_user.nome" -->
        <div class="row">
          <div class="input-field col s12 m6 l12">
            <i class="material-icons prefix">person</i>
            <input id="nome" [(ngModel)]="dados_user.nome" type="text" class="validate" name="nome" focus="!f.valid" ngModel required
            />
            <label class="active" for="nome">Nome</label>
          </div>
        </div>
        <!-- Cargo -->
        <div class="row">
          <div class="input-field col s12 m6 l12">
            <i class="material-icons prefix">person</i>
            <input id="cargo" [(ngModel)]="dados_user.cargo" type="text" class="validate" name="cargo" focus="!f.valid" ngModel required
            />
            <label class="active" for="cargo">Cargo</label>
          </div>
        </div>

        <!-- input do EMAIL [(ngModel)]="dados_user.email-->
        <div class="row" *ngIf="!clienteEncontrado && !clienteJaCadastrado">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" (input)="onInput()" [(ngModel)]="dados_user.email" class="validate" name="email" ngModel required
              email>
            <label for="email" data-error="E-mail inválido" [ngClass]="{'active':email !='' }">E-mail</label>
          </div>
        </div>

        <!-- input do EMAIL confirm  [(ngModel)]="emailConfirm"-->
        <div class="row" *ngIf="!clienteEncontrado && !clienteJaCadastrado">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" (input)="onInput()" class="validate" name="emailConfirm" ngModel required email>
            <label for="email" data-error="E-mail inválido" [ngClass]="{'active':emailConfirm != '' }">E-mail confirmação</label>
            <div *ngIf="(email !='') && (emailConfirm !='') && (email != emailConfirm)" class="vermelho">Os e-mails não coincidem
            </div>
          </div>
        </div>

        <!-- data de nascimento  birth_date-->
        <div class="row">

          <div class="input-field col s12 m3 l3">
            <i class="material-icons prefix">person</i>
            <input id="data" type="date" [(ngModel)]="dados_user.birth_date" class="validate" name="data" ngModel required />
            <label class="active" for="data">Data Nascimento</label>
          </div>

          <!-- lista de empresas [disabled]="!f.valid -->

          <!-- NOVA -->
          <div class="input-field col s12 m5 ">

            <div *ngIf="acao != 'update'">

              <select *ngIf="acao != 'update' " materialize="material_select" [materializeSelectOptions]="empresas" ngModel name="empresaSelecionada"
                data-beloworigin="true" required>
                <option value="todos" selected>Todos</option>
                <option *ngFor="let e of empresas" [value]="e.company_id">{{e.nome_company}}</option>
              </select>
              <label>Selecione uma empresa </label>
            </div>

            <!-- UPDATE -->
            <div *ngIf="acao == 'update' ">

              <select *ngIf="acao == 'update' " materialize="material_select" [materializeSelectOptions]="empresas" ngModel name="Selecionadaempresa"
                data-beloworigin="true" required>
                <option [(ngModel)]="dados_user.company_id" selected>{{dados_user.nome_empresa}}</option>
              </select>
              <label>Selecione uma empresa </label>

            </div>
          </div>

          <div class="input-field col s12 m4 m4">

            <a class="waves-effect waves-light btn" (click)="mostrarEsconderPermissoes()">Permissões</a>
          </div>
        </div>


        <!-- linha celular telefone-->

        <div class="row">

          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">phone</i>
            <input [textMask]="{mask: masktel}" id="telefone" [(ngModel)]="dados_user.phone_1" type="tel" class="validate" ngModel name="telefone"
            />
            <label for="telefone" class="active">Telefone</label>
          </div>

          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">phone_iphone</i>
            <input [textMask]="{mask: maskcel}" id="celular" [(ngModel)]="dados_user.phone_2" type="tel" class="validate" ngModel name="celular"
              required />
            <label for="celular" class="active">Celular</label>
          </div>


        </div>
        <!-- Botões -->
        <div class="perm" [hidden]="!mostrarPermissoes">
          <div class="row">
            <span>Permissão Módulo CashBack</span>
            <div class="switch">
              <label>
                Desabilitado
                <input type="checkbox" [checked]="dados_user.cashModule" id="flag" name="flag" (change)="mudarFlagPermissao('cash')">
                <span class="lever"></span>
                Habilitado
              </label>
            </div>
          </div>

          <div class="row">
            <span>Permissão Módulo Campanha</span>
            <div class="switch">
              <label>
                Desabilitado
                <input type="checkbox" [checked]="dados_user.configCampanha" id="flag" name="flag" (change)="mudarFlagPermissao('cam')">
                <span class="lever"></span>
                Habilitado
              </label>
            </div>
          </div>

          <div class="row">
            <span>Permissão Módulo Clientes</span>
            <div class="switch">
              <label>
                Desabilitado
                <input type="checkbox" [checked]="dados_user.clientsModule" id="flag" name="flag" (change)="mudarFlagPermissao('cli')">
                <span class="lever"></span>
                Habilitado
              </label>
            </div>
          </div>

          <div class="row">
            <span>Permissão Módulo Configurações</span>
            <div class="switch">
              <label>
                Desabilitado
                <input type="checkbox" [checked]="dados_user.configModule" id="flag" name="flag" (change)="mudarFlagPermissao('conf')">
                <span class="lever"></span>
                Habilitado
              </label>
            </div>
          </div>

          <div class="row">
            <span>Permissão Módulo PowerBi</span>
            <div class="switch">
              <label>
                Desabilitado
                <input type="checkbox" [checked]="dados_user.powerbiModule" id="flag" name="flag" (change)="mudarFlagPermissao('power')">
                <span class="lever"></span>
                Habilitado
              </label>
            </div>
          </div>

          <div class="row">
            <span>Permissão Módulo Relatórios</span>
            <div class="switch">
              <label>
                Desabilitado
                <input type="checkbox" [checked]="dados_user.configRelatorio" id="flag" name="flag" (change)="mudarFlagPermissao('rel')">
                <span class="lever"></span>
                Habilitado
              </label>
            </div>
          </div>
        </div>
        <!-- Botões -->

        <!-- linha com os botoes  [disabled]="!f.valid || (email != emailConfirm) || clienteJaCadastrado"-->
        <div class="row">
          <div class="col s6">

            <button class="btn waves-effect waves-light col s12 m12 l4 offset-l8" type="submit" name="action">
              <span *ngIf="clienteEncontrado">Vincular</span>
              <span *ngIf="!clienteEncontrado">Cadastar</span>
              <i class="material-icons right">send</i>
            </button>
          </div>
          <div class="col s6">
            <a class="waves-effect red btn col s12 m12 l4" id="btnCancel" (click)="cancelar()">Cancelar</a>
          </div>
        </div>

      </form>
    </div>

    <!-- preloader -->
    <div class="row" *ngIf="mostrarPreloader">
      <div class="col s12 m12 l6 offset-l2 center-align">

        <div class="preloader-wrapper big active center-align">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>