<div class="card-panel col s12 m6 l6 offset-m3 offset-l3">
  <div class="centralizar">
    <!-- linha com a foto do usuario -->
    <div class="row">
      <div class="col s12">
        <div class="file-field input-field">
          <img [src]="url" class="responise-img circle" width="150px" height="150px">
          <input type="file" (change)="mudarImagem($event)" ng2FileSelect [uploader]="uploader" accept=".png,.jpeg,.jpg">
          <!-- <form>
                  <input type="file" name="userFile" (change)="readUrl($event);fileChange($event)" accept=".png,.jpeg,.jpg"/>
              </form> -->
          <div class="progress">
            <div class="determinate" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <!-- uploader.uploadAll()  [disabled]="!uploader.getNotUploadedItems().length"-->
        <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </button>
      </div>
    </div>

    <!-- linha com o form -->
    <div class="row">
      <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">

        <!-- linha senha antiga -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="password" [(ngModel)]="senhaAtual" type="password" class="validate" ngModel name="senhaAntiga" required *ngIf="!mostrarSenha"
            />
            <input id="passwordV" [(ngModel)]="senhaAtual" type="text" class="validate" ngModel name="senhaAntiga" required *ngIf="mostrarSenha"
            />
            <label for="password;passwordV" [ngClass]="{'active':senhaAtual != '' }">Senha atual</label>
          </div>
        </div>

        <!-- linha senha antiga visivel -->
        <!-- <div class="row" *ngIf="mostrarSenha">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="passwordN" [(ngModel)]="senhaAtual" type="text" class="validate" ngModel name="senhaAntiga" required/>
            <label for="passwordN" [ngClass]="{'active':senhaAtual != '' }">Senha atual</label>
          </div>
        </div> -->

        <!-- linha senha nova -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="passwordN" [(ngModel)]="novaSenha" type="password" class="validate" ngModel name="senhaNova" required *ngIf="!mostrarSenha"
            />
            <input id="passwordNV" [(ngModel)]="novaSenha" type="text" class="validate" ngModel name="senhaNova" required *ngIf="mostrarSenha"
            />
            <label for="passwordN;passwordNV" [ngClass]="{'active':novaSenha != '' }">Nova senha</label>
          </div>
        </div>

        <!-- linha senha nova visivel-->
        <!-- <div class="row" *ngIf="mostrarSenha">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="passwordN" [(ngModel)]="novaSenha" type="text" class="validate" ngModel name="senhaNova" required/>
            <label for="passwordN" [ngClass]="{'active':novaSenha != '' }">Nova senha</label>
          </div>
        </div> -->

        <!-- linha senha nova confirmacao -->
        <div class="row" style="margin-bottom: 2px">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="passwordNC" [(ngModel)]="novaSenhaConfirmacao" type="password" class="validate" ngModel name="senhaNovaConfirmacao"
              required *ngIf="!mostrarSenha"/>
            <input id="passwordNCV" [(ngModel)]="novaSenhaConfirmacao" type="text" class="validate" ngModel name="senhaNovaConfirmacao"
              required *ngIf="mostrarSenha"/>
            <label for="passwordNC;passwordNCV" [ngClass]="{'active':novaSenhaConfirmacao != '' }">Confirmar nova senha</label>
          </div>
        </div>

        <!-- linha senha nova confirmacao visivel-->
        <!-- <div class="row" *ngIf="mostrarSenha">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="passwordNC" [(ngModel)]="novaSenhaConfirmacao" type="text" class="validate" ngModel name="senhaNovaConfirmacao"
              required/>
           
            <label for="passwordNC" [ngClass]="{'active':novaSenhaConfirmacao != '' }">Confirmar nova senha</label>
          </div>
        </div> -->

        <div class="row center-align" *ngIf="!mostrarSenha"><a (click)="mostrarEsconderSenha()" style="cursor: pointer; margin-top: 2px">Mostrar Senhas</a></div>
        <div class="row center-align" *ngIf="mostrarSenha"><a (click)="mostrarEsconderSenha()" style="cursor: pointer; margin-top: 2px" >Esconder Senhas</a></div>

        <div class="row center-align vermelho" *ngIf="(novaSenha !='') && (novaSenhaConfirmacao !='') && (novaSenha != novaSenhaConfirmacao)">As senhas não coincidem</div>


        <!-- linha botoes -->
        <div class="row">
          <div class="col s6">
            <button class="btn waves-effect waves-light col s12" type="submit" name="action" [disabled]="(!f.valid) || (novaSenha != novaSenhaConfirmacao)">Alterar
              <i class="material-icons right">send</i>
            </button>
          </div>
          <div class="col s6">
            <a class="waves-effect red btn col s12" id="btnCancel" (click)="cancelar()" id="btn">Cancelar</a>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>