<div class="col s12">
  <div class="card-panel center-align bordaVerde">
    <h5> Relatório Satisfação</h5>
  </div>
</div>

<!-- linha com os cards --> 
<div class="row">

  <div class="col s12 m2 l2 offset-m1 offset-l1" style="margin-bottom:5px">
    <!-- routerLink="/cashback/relatorio-cashback" --> 
    <a routerLinkActive="active">
      <div class="card-panel teal center-align" id="cardInfo">
        <span class="white-text">Quantidade de Respostas</span>
        <!-- <h5 class="white-text">{{ | currency:'BRL':true}}</h5> -->
      </div>
    </a>
  </div>

  <div class="col s12 m2 l2" style="margin-bottom:5px">
    <a routerLinkActive="active">
      <div class="card-panel teal center-align">
        <span class="white-text">Detratores</span>
        <!-- <h5 class="white-text">{{ | percent}}</h5> -->
      </div>
    </a>
  </div>

  <div class="col s12 m2 l2" style="margin-bottom:5px">
    <a routerLinkActive="active">
      <div class="card-panel teal center-align">
        <span class="white-text">Neutros</span>
        <!-- <h5 class="white-text">{{  | percent}}</h5> -->
      </div>
    </a>
  </div>

  <div class="col s12 m2 l2" style="margin-bottom:5px">
    <a routerLinkActive="active" >
      <div class="card-panel teal center-align">
        <span class="white-text">Promotores</span>
        <!-- <h5 class="white-text">{{  | percent }}</h5> -->
      </div>
    </a>
  </div>

  <div class="col s12 m2 l2" style="margin-bottom:5px">
      <a routerLinkActive="active">
        <div class="card-panel teal center-align">
          <span class="white-text">NPS</span>
          <!-- <h5 class="white-text">{{ numClientes }}</h5> -->
        </div>
      </a>
    </div>

</div>

<!-- div com o grafico -->
<div class="card-panel bordaVerde" style="margin:10px;">
    <div class="row">
  
      <!-- div com o preloader -->
      <div class="row center-align" *ngIf="mostrarPreloader">
        <div class="center-align">
          <div class="preloader-wrapper big active" *ngIf="mostrarPreloader">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col s12 m6 l6 offset-m3 offset-l3" *ngIf="mostrarGrafico">
        <div style="display: block;">
          <canvas baseChart [datasets]="lineChartData" [labels]="dadosGrafico.mes" [options]="lineChartOptions" [colors]="lineChartColors"
            [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </div>
      </div>
  
    </div>
  </div>