<div class="container">
    <div class="row">
  
      <div class="col s12 m8 l8 offset-m2 offset-l2">
        <div class="card-panel">
  
          <!-- div com o preloader -->
          <div class="row" *ngIf="mostrarPreloader">
            <div class="center-align">
              <div class="preloader-wrapper big active" *ngIf="mostrarPreloader">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- div com o formulario -->
          <div class="row" *ngIf="!mostrarPreloader">
  
            <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">
  
              <!-- input  nota Gatilho -->
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">filter_1</i>
                  <input id="number" [(ngModel)]="notaGatilho" type="number" class="validate" ngModel name="nota" required/>
                  <label for="number" class="active">Nota para gatilho</label>
                </div>
              </div>
  
              <!-- input de email -->
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <input id="email" [(ngModel)]="emailGatilho" type="email" class="validate" name="email" autofocus required email ngModel>
                  <label for="email" class="active" data-error="E-mail inválido">E-mail para notificação</label>
                </div>
              </div>
  
              <!-- <p>
                <input type="checkbox" class="filled-in" checked="checked" id="flag" name="flag" (change)="mudarFlagGatilho()"  />
                <label for="flag">Habilitar</label>
              </p> -->
  
              <div class="switch">
                <label>
                  Desabilitado
                  <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagGatilho()">
                  <span class="lever"></span>
                  Habilitado
                </label>
              </div>
  
              <!-- linha com o botao --> 
              <div class="row" style="margin-top: 10px">
                <button class="btn waves-effect waves-light col s4 offset-s4" type="submit" name="action" [disabled]="!f.valid">Ok</button>
              </div>
            </form>
  
          </div>
        </div>
      </div>
  
  
    </div>
  </div>
