<div class="col s12">
  <div class="card-panel center-align bordaVerde">
    <h5> Relatórios</h5>
  </div>
</div>

<!-- linha com os dados apresentados -->
<div class="row">

  <!-- clientes cadastrados --> 
  <div class="col s12 m3 l3" style="margin-bottom:5px">
      <!-- routerLinkActive="active" routerLink="/cashback/relatorio-cashback" -->
    <a>
      <div class="card-panel teal center-align" id="cardInfo">
        <span class="white-text">Clientes cadastrados</span>
        <!-- <h5 class="white-text">{{ | currency:'BRL':true}}</h5> -->
      </div>
    </a>
  </div>

  <!-- taxa de retorno --> 
  <div class="col s12 m3 l3" style="margin-bottom:5px">
    <a>
      <div class="card-panel teal center-align">
        <span class="white-text">Taxa de retorno</span>
        <!-- <h5 class="white-text">{{ | percent}}</h5> -->
      </div>
    </a>
  </div>

  <!-- taxa churn -->
  <div class="col s12 m3 l3" style="margin-bottom:5px">
    <a >
      <div class="card-panel teal center-align">
        <span class="white-text">Taxa Churn</span>
        <!-- <h5 class="white-text">{{  | currency:'BRL':true }}</h5> -->
      </div>
    </a>
  </div>

  <!-- NPS -->
  <div class="col s12 m3 l3" style="margin-bottom:5px">
    <a>
      <div class="card-panel teal center-align">
        <span class="white-text">NPS</span>
        <!-- <h5 class="white-text">{{  }}</h5> -->
      </div>
    </a>
  </div>

</div>

<!-- div com o grafico -->
<div class="card-panel bordaVerde" style="margin:10px;">
  <div class="row">

    <!-- div com o preloader -->
    <div class="row center-align" *ngIf="mostrarPreloader">
      <div class="center-align">
        <div class="preloader-wrapper big active" *ngIf="mostrarPreloader">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6 offset-m3 offset-l3" *ngIf="mostrarGrafico">
      <div style="display: block;">
        <canvas baseChart [datasets]="lineChartData" [labels]="dadosGrafico.mes" [options]="lineChartOptions" [colors]="lineChartColors"
          [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div>
    </div>

  </div>
</div>

<!-- linha com os cards com as rotas para os outros relatorios -->
<div class="row"> 
  <div class="col s12">
    <div class="card-panel bordaVerde">

      <div class="row">

        <!-- card cash -->
        <div class="col s12 m6 l3">
          <a routerLinkActive="active" routerLink="/relatorios/relatorio-cashback">
            <div class="card-panel center-align bordaVerdeEscuro">
              <img src="./imagens/relatorio_cashback.png" width="80px" height="80px" />
              <p>CashBack Concedido</p>
            </div>
          </a>
        </div>

        <!-- card clientes -->
        <div class="col s12 m6 l3">
          <a routerLinkActive="active" routerLink="/relatorios/relatorio-clientes">
            <div class="card-panel center-align bordaVerdeEscuro">
              <img src="./imagens/relatorio_clientes.png" width="80px" height="80px" />
              <p>Meus Clientes</p>
            </div>
          </a>
        </div>

        <!-- card satisfacao -->
        <div class="col s12 m6 l3">
          <a routerLinkActive="active" routerLink="/relatorios/relatorio-satisfacao">
            <div class="card-panel center-align bordaVerdeEscuro">
              <img src="./imagens/relatorio_satisfacao.png" width="80px" height="80px" />
              <p>Relatório Satisfação</p>
            </div>
          </a>
        </div>

        <!-- card campanhas -->
        <div class="col s12 m6 l3">
          <a routerLinkActive="active" routerLink="/relatorios/relatorio-campanhas">
            <div class="card-panel center-align bordaVerdeEscuro">
              <img src="./imagens/relatorio_campanha.png" width="80px" height="80px" />
              <p>Relatório de Campanhas</p>
            </div>
          </a>
        </div>

        <!-- card usuarios -->
        <div class="col s12 m12 l4 offset-l4">
          <a routerLinkActive="active" routerLink="/relatorios/relatorio-usuarios">
            <div class="card-panel center-align bordaVerdeEscuro">
              <img src="./imagens/relatorio_clientes.png" width="80px" height="80px" />
              <p>Meus Colaboradores</p>
            </div>
          </a>
        </div>

      </div>

    </div>
  </div>
</div>