.my-container{
    background-color:rgb(217,217,217);
    width:100vw;
    height:100vh;
    position: fixed;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-y:auto;
 }

 .card-panel{
    /* margin: 1% 0 10px 0 ; */
    text-align: center;  
 }

.divPreloader{
    margin:0 auto;
    margin: 30% 0 0 0 ;
    text-align: center;  
}