<div [ngClass]="{'my-container': !mostrarPreloader}">
  <div class="container ">

    <div class="row">
      <div class="col s12 m6 l4 offset-m3 offset-l4">
        <div class="card-panel" *ngIf="!mostrarPreloader" style="margin-bottom:50px">
          <u>
            <h5>Entre</h5>
          </u>

          <!-- linha com a logo -->
          <div class="row">
            <div class="col s12">
              <img src="./imagens/icone_dataBox.png" width="80px" height="80px" />
            </div>
          </div>

          <!-- linha com o form -->
          <div class="row">
            <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">

              <!-- input de email -->
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="email" [(ngModel)]="email" type="email" class="validate" name="email" autofocus required email ngModel>
                  <label for="email" data-error="E-mail inválido" [ngClass]="{'active': email != ''}">E-mail</label>
                </div>
              </div>

              <!-- input de senha -->
              <div class="row" [hidden]="mostrarSenha" style="margin-bottom: 0px">
                <div class="input-field col s11">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="password" [(ngModel)]="senha" type="password" class="validate" ngModel name="senha" required/>
                  <label for="password" [ngClass]="{'active': senha != ''}">Senha</label>
                </div>
                <!-- background: #CE93D8; -->
                <div class="col s1" style=" height: 60px">
                  <a (click)="mostrarEsconderSenha()" style="cursor: pointer;position:relative;bottom:5%;top:50%;margin-left:-10px"
                  materialize="tooltip" class="tooltipped" data-position="top" data-delay="20" data-tooltip="Mostrar senha">
                    <i class="material-icons">visibility</i>
                  </a>
                </div>
              </div>

             
              <div class="row" [hidden]="!mostrarSenha" style="margin-bottom: 0px">
                <div class="input-field col s11">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="senha" [(ngModel)]="senha" type="text" class="validate" ngModel name="senha" required/>
                  <label for="password" [ngClass]="{'active': senha != ''}">Senha</label>
                </div>
                <div class="col s1" style=" height: 60px;">
                    <a (click)="mostrarEsconderSenha()" style="cursor: pointer;position:relative;bottom:5%;top:50%;margin-left:-10px"
                    materialize="tooltip" class="tooltipped" data-position="top" data-delay="20" data-tooltip="Esconder senha">
                      <i class="material-icons">visibility_off</i>
                    </a>
                  </div>
              </div>

              <p style="margin-left: 15px">
                <input type="checkbox" class="filled-in" [checked]="checkRememberMe" id="save" name="save" (change)="mudarRemember()" />
                <label for="save">Lembrar neste computador</label>
              </p>

              <p style="margin-left: 15px">
                <input type="checkbox" class="filled-in" [checked]="checkLoginAutomatico" id="login" name="login" (change)="mudarLoginAutomatico()"
                />
                <label for="login">Login Automático</label>
              </p>

              <div class="row">
                <button class="btn waves-effect waves-light col s12" type="submit" name="action" [disabled]="!f.valid">Login</button>
              </div>

              <div class="row">
                <div class="col s6 offset-s6">
                  <u>
                    <a routerLinkActive="active" routerLink="/esqueci-senha">Esqueci a senha</a>
                  </u>
                </div>
              </div>

            </form>
          </div>

        </div>

        <!-- preloader -->
        <div class="divPreloader" *ngIf="mostrarPreloader">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>