<div class="row" (window:resize)="setTamanhoTela($event.target.innerWidth)">
  <div class="col s12 center-align">
    <div class="card-panel bordaVerde">
      <h5>Meus Clientes</h5>
    </div>
  </div>
</div>

<!-- linha com os gráficos -->
<div class="row">
  <!-- <div class="col s12 m6 l6 center-align"> -->

  <!-- grafico sobre F/M -->
  <!-- <h5>Sexo</h5>
    <div style="display: block">
      <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
    </div> -->

  <!-- grafico sobre a idade -->
  <!-- <h5>Idade</h5>
    <div>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartDataIdade" [labels]="barChartLabelsIdade" [options]="barChartOptions" [legend]="barChartLegend"
          [colors]="barChartColors" [chartType]="barChartType"></canvas>
      </div>
    </div> -->

  <!-- grafico sobre como conheceu -->
  <!-- <h5>Como conheceu</h5>
    <div>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartDataConheceu" [labels]="barChartLabelsConheceu" [options]="barChartOptions" [legend]="barChartLegend"
          [colors]="barChartColors" [chartType]="barChartType"></canvas>
      </div>
    </div> -->

  <!-- </div> -->

  <!-- grafico com o mapa -->
  <!-- iconUrl="http://regismaicon.com.br/satsWeb/empresa/databox/img/5_1_10.png"-->
  <!-- (markerClick)="makersHighlight()" -->
  <!-- <google-chart [data]="mapChartData"></google-chart> -->

  <!-- <div class="col s12 m6 l6 center-align">
    <h5>Mapa Localização</h5>

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]=13>

      <agm-marker *ngFor="let m of teste; let i = index" [latitude]="m.lat" [longitude]="m.lgn">
        <agm-info-window [isOpen]="false">
          <strong>{{m.title}}</strong>
          <p>{{m.desc}}</p>
        </agm-info-window>
      </agm-marker>

      <agm-circle *ngFor="let m of teste; let i = index" [latitude]="m.lat" [longitude]="m.lgn" [circleDraggable]="false" [editable]="false"
        [fillColor]="'red'" [radius]=100>
        <agm-info-window [isOpen]="false">
          <strong>Teste</strong>
          <p>Teste 1</p>
        </agm-info-window>
      </agm-circle>
    </agm-map>

  </div> -->

</div>

<!-- card com os filtros -->
<div class="row" style="margin-bottom: 0">
  <div class="col s12">
    <div class="card-panel bordaVerde">
      <a class="waves-effect blue btn" (click)="mostrarEsconderFiltro()">
        <i class="large material-icons left">menu</i>Mais Campos</a>
      <!-- para tirar a animacao tirar: [@focusPanel]="state" e colocar: [hidden]="!mostrarFiltro"-->
      <div class="row" [hidden]="!mostrarFiltro">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <p>
            <input type="checkbox" class="filled-in" id="genero" name="genero" ngModel />
            <label for="genero">Gênero</label>
          </p>

          <p>
            <input type="checkbox" class="filled-in" id="contato" name="contato" ngModel />
            <label for="contato">Contato</label>
          </p>

          <div class="row" id="rowBtnFiltrar" se for para tirar a animacao descomentar essa div>
            <button class="btn waves-effect waves-light " type="submit" name="action">Ok</button>
          </div>
        </form>
      </div>
      <!-- e tirar essa de baixo (para tirar a animacao)--> 
      <!-- <div class="row" id="rowBtnFiltrar" [@buttonPanel]="stateb">
        <button class="btn waves-effect waves-light " type="submit" (click)="onSubmit(f)" name="action">Ok</button>
      </div> -->
    </div>
  </div>
</div>

<!-- card com a tabela -->
<div class="row" style="margin-top:0">
  <div class="col s12 center-align">
    <div class="card-panel bordaVerde">
      <h5>Clientes Cadastrados</h5>

      <!-- div com o preloader -->
      <div class="row center-align" *ngIf="mostrarPreloader">
        <div class="center-align">
          <div class="preloader-wrapper big active" *ngIf="mostrarPreloader">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div [ngClass]="{'tabela': telaGrande, '': telaPequena}">
        <table class="bordered striped responsive-table" *ngIf="!mostrarPreloader">
          <thead>
            <tr>
              <th (click)="ordenarData()" materialize="tooltip" class="pointer tooltipped" data-position="top" data-delay="20" [attr.data-tooltip]="msgOrdDados">Data de Cadastro
                <i class="tiny material-icons grey-text text-lighten-1" *ngIf="ordData == null">unfold_more</i>
                <i class="tiny material-icons" *ngIf="ordData == false">arrow_drop_down</i>
                <i class="tiny material-icons" *ngIf="ordData == true">arrow_drop_up</i>
              </th>
              <th class="pointer" (click)="ordenarNome()">Nome
                <i class="tiny material-icons grey-text text-lighten-1" *ngIf="ordNome == null">unfold_more</i>
                <i class="tiny material-icons" *ngIf="ordNome == false">arrow_drop_down</i>
                <i class="tiny material-icons" *ngIf="ordNome == true">arrow_drop_up</i>
              </th>
              <th class="pointer" (click)="ordenarCPF()">CPF
                <i class="tiny material-icons grey-text text-lighten-1" *ngIf="ordCpf == null">unfold_more</i>
                <i class="tiny material-icons" *ngIf="ordCpf == false">arrow_drop_down</i>
                <i class="tiny material-icons" *ngIf="ordCpf == true">arrow_drop_up</i>
              </th>
              <th class="pointer" (click)="ordenarEmail()">E-mail
                <i class="tiny material-icons grey-text text-lighten-1" *ngIf="ordEmail == null">unfold_more</i>
                <i class="tiny material-icons" *ngIf="ordEmail == false">arrow_drop_down</i>
                <i class="tiny material-icons" *ngIf="ordEmail == true">arrow_drop_up</i>
              </th>
              <th class="pointer" (click)="ordenarContato()">
                <span *ngIf="contato">Contato</span>
                <span *ngIf="!contato"></span>
                <i class="tiny material-icons grey-text text-lighten-1" *ngIf="ordContato == null && contato">unfold_more</i>
                <i class="tiny material-icons" *ngIf="ordContato == false">arrow_drop_down</i>
                <i class="tiny material-icons" *ngIf="ordContato == true">arrow_drop_up</i>
              </th>
              <th [ngClass]="{'thPequeno': telaGrande, '': telaPequena}" (click)="ordenarGenero()">
                <span *ngIf="genero">Gênero</span>
                <span *ngIf="!genero"></span>
                <i class="tiny material-icons grey-text text-lighten-1" *ngIf="ordGenero == null && genero">unfold_more</i>
                <i class="tiny material-icons" *ngIf="ordGenero == false">arrow_drop_down</i>
                <i class="tiny material-icons" *ngIf="ordGenero == true">arrow_drop_up</i>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let dado of dadosTabela">
              <td class="tdNormal">
                <span>{{dado.data}}</span>
              </td>

              <td class="tdNormal">
                <span class="collection-item">{{dado.nome}}</span>
              </td>

              <!-- <td class="tdNormal">
              <a class="collection-item" [routerLink]="[dado.client_id]">{{dado.cpf}}</a>
            </td> -->

              <td class="tdNormal">
                <span class="collection-item">{{dado.cpf}}</span>
              </td>

              <td class="tdNormal">
                <span class="truncate">{{dado.email}}</span>
              </td>

              <td *ngIf="contato" class="tdNormal">
                <span>{{dado.contato}}</span>
              </td>

              <td *ngIf="!contato" class="tdNormal">
                <span></span>
              </td>

              <td *ngIf="genero" [ngClass]="{'tdPequeno center-align': telaGrande, '': telaPequena}">
                <span>{{dado.genero}}</span>
              </td>

              <td *ngIf="!genero" [ngClass]="{'tdPequeno center-align': telaGrande, '': telaPequena}">
                <span></span>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

      <div class="buttondiv">
        <a class="btn-floating btn-large waves-effect waves-light green" (click)="addCliente()">
          <i class="material-icons">add</i>
        </a>
      </div>
    </div>
  </div>
</div>