.buttondiv{
    background-position: top;
    padding: 0px 1% 0 95%;
    /* position: fixed; */
    /* bottom: 25px; */
    float: right;  
}

.collection{
    height: 500px; 
    overflow: "auto";
}

#carCenter{
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#rowBtnFiltrar{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

agm-map{
    width: 100%;
    height: 100vh;
}

/***********************************************************   */
.thPequeno{
    cursor: pointer;
    width: 90px;
}

.tdNormal{
    margin-top:5px;
    margin-bottom:5px
}

.tdPequeno{
    width: 90px;
    margin-top:5px;
    margin-bottom:5px;
}


/***********************************************************   */
.tabela .table-container {
    height: 10em;
}

.tabela table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.tabela table thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

.tabela table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

.tabela tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabela table tbody tr {
    width: 100%;
}

.tabela  table thead, .tabela table tbody tr {
    display: table;
    table-layout: fixed;
}
