<div class="container">

  <div class="row">
    <div class="col s12">
      <div class="browser-window">
        <div class="top-bar">
          <div class="circles">
            <div id="close-circle" class="circle"></div>
            <div id="minimize-circle" class="circle"></div>
            <div id="maximize-circle" class="circle"></div>
          </div>
        </div>
        <div class="content">
          <div class="row">
            <div id="site-layout-example-top" class="col s12" >
                <img class="alert" src="./imagens/alert-icon.png" width="90px" height="90px" />
              <h5 class="flat-text-logo center caption-uppercase">Desculpe, mas esta página não foi encontrada</h5>
            </div>
            <div id="site-layout-example-right" class="col s12 m12 l12">
              <div class="row center">
                <h1 class="text-long-shadow col s12">404</h1>
              </div>
              <div class="row center">
                <!-- <h5 class="center blue-text col s12">Esta página não existe.</h5> -->
                <p class="center s12">
                  <a href="index.html" class="btn waves-effect waves-light">Voltar</a>
                  <p>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>