.my-container{
    background-color:rgb(217,217,217);
    width:100vw;
    height:100vh;
    position: fixed;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-y:auto;
 }

.card-panel{
    padding: 20px 20px 0 20px;
    text-align: center;  
 }
