<div class="my-container">
  <div class="container">

    <div class="row">
      <div class="col s12 m8 l6 offset-m2 offset-l3">
        <!--  card -->
        <div class="card-panel" style="margin: 20% 0 50px 0 ">
          <u>
            <h5>Recuperar Senha</h5>
          </u>

          <!-- row com FORM -->
          <div class="row" *ngIf="!mostrarPreloader">
            <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">

              <!-- row com a input do email -->
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="email" focus="!mostrarPreloader" type="email" class="validate" name="email" required email ngModel>
                  <label for="email" data-error="E-mail inválido">E-mail</label>
                </div>
              </div>

              <!-- row com botao -->
              <div class="row">
                <!-- <button class="btn-floating waves-effect waves-light green" type="submit" name="action" [disabled]="!f.valid"><i class="material-icons">send</i></button> -->
                <button class="btn waves-effect waves-light col s12 m12 l4 offset-l4" type="submit" name="action" [disabled]="!f.valid">Enviar
                  <i class="material-icons right">send</i>
                </button>
              </div>

              <!-- linha com a rota para o login -->
              <div class="row">
                <div class="col s2">
                  <u>
                    <a routerLinkActive="active" routerLink="/login">Login</a>
                  </u>
                </div>
              </div>

            </form>
          </div>

          <!-- row com o preloader -->
          <div class="row" *ngIf="mostrarPreloader">
            <div class="center-align">
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>