<!-- menu lateral que aparece quando se clica nos tres tracinhos (mobile) -->
<ul class="side-nav" id="mobile-demo">
  <li *ngIf="!mostrarMenuLojista" routerLinkActive="active">
    <a class="btn" routerLink="login" (click)="fecharMenu()">Login</a>
  </li>

  <li *ngIf="mostrarMenuLojista" routerLinkActive="active">
    <a class="btn" routerLink="/home" (click)="fecharMenu()">Home</a>
  </li>

  <li *ngIf="mostrarMenuLojista" routerLinkActive="active">
      <a  class="btn" routerLinkActive="active" routerLink="/clientes/novo-lojista" (click)="fecharMenu()">Novo lojista</a>
  </li>

  <li *ngIf="mostrarMenuLojista" routerLinkActive="active">
    <a class="btn" routerLink="/clientes/novo-cliente" (click)="fecharMenu()">Cadastrar empresa</a>
  </li>

  <li *ngIf="mostrarMenuLojista" routerLinkActive="active">
    <a class="btn" routerLink="/minha-conta" (click)="fecharMenu()">Minha Conta</a>
  </li>

  <li *ngIf="mostrarMenuLojista">
    <a class="btn" (click)="fazerLogout()" (click)="fecharMenu()">Logout</a>
  </li>
</ul>

<!-- menu de dropbdown que aparece quando se clica no botão de configurações -->
<ul id="config" class="dropdown-content">
  <li>
    <a routerLinkActive="active" routerLink="/configuracoes/configurar-cashback" (click)="fecharMenu()">Clientes Cadastrados</a>
  </li>
  
</ul>

<!-- menu de dropbdown que aparece quando se clica na foto do usuario -->
<ul id="perfil" class="dropdown-content">
  <li>
    <a routerLink="/minha-conta">
      <i class="material-icons">person</i>Minha Conta</a>
  </li>
  <li class="divider"></li>
  <li>
    <a (click)="fazerLogout()">
      <i class="material-icons">exit_to_app</i>Sair</a>
  </li>
</ul>

<div class="navbar-fixed">
  <nav class="navbar-color">

    <div [ngClass]="{'nav-wrapper container': !mostrarMenuLojista, 'nav-wrapper ': mostrarMenuLojista}" (window:resize)="mostrarEsconderLogo($event.target.innerWidth)">
      <div class="row">

        <!-- logo com o nome do sistema "col s3 m5 l3" -->
        <div class="col s3 m5 l3">
          <ul class="left">
            <li>
              <a data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
              </a>
            </li>
            <li *ngIf="mostrarMenuLojista && mostrarIconeMenuLateral">
              <a (click)="mostrarEsconderMenuLateral()">
                <i class="material-icons">menu</i>
              </a>
            </li>
            <li *ngIf="mostrarLogo">
              <a (click)="voltar()" class="valign-wrapper">
                <img src="./imagens/logo_databox.png" width="40px" height="40px" style="margin-right:2px" />
                <span>{{nomeApp}}</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- div com a barra de pesquisa  "col s8 m6 l3" -->
        <div class="col s8 m6 l3" *ngIf="mostrarMenuLojista">
          <div>
            <input (keyup)="search($event.target.value)" [(ngModel)]="pesquisa" placeholder="  Busca Rápida" style="text-indent:25px;"
            />
            <div class="collection" style="overflow: auto" *ngIf="mostrarOpcoesSearch">
              <a class="collection-item" (click)="pesquisar()" *ngFor="let d of filteredData" [routerLink]="[d.link]">{{ d.nome }}</a>
            </div>
          </div>
        </div>

        <!-- div com o menu que aparece do lado direito da navBar "col s1 m1 l6"-->
        <div class="col s1 m1 l6">
          <ul class="right hide-on-med-and-down">

            <!-- dashBoards -->
            <li [hidden]="mostrarMenuLojista==false" routerLinkActive="active">
              <a class="dropdown-button" data-activates="bi" data-beloworigin="true">DashBoards
                <i class="material-icons right">dashboard</i>
              </a>
            </li>

            <!-- configuracoes -->
            <li [hidden]="mostrarMenuLojista==false" routerLinkActive="active">
              <a class="dropdown-button" data-activates="config" data-beloworigin="true">Configurações
                <i class="material-icons right">settings</i>
              </a>
            </li>

            <!-- nome + img do user 175px   95px-->
            <li [hidden]="!mostrarMenuLojista" style="width: 175px">
              <a class="dropdown-button" data-activates="perfil" data-beloworigin="true">
                <div class="valign-wrapper">
                  <span> {{ usuario?.nome }} </span>
                  <img *ngIf="mostrarMenuLojista" class="responise-img circle" [src]="usuario?.linkImageUser" width="50px" height="50px" style="margin-left:5px">
                </div>
              </a>
            </li>

          </ul>
        </div>

      </div>

    </div>
  </nav>
</div>

<div class="row">
  <!-- div com o menu lateral que aparece quando o usuario esta em um desktop-->
  <div class="side-nav fixed col s2" id="menuLateral" *ngIf="(showMenuLateral == true) && (mostrarMenuLojista == true)">

     <!-- Criar Usuários -->

        <!-- Cadastrar  Empresa-->
    <a routerLinkActive="active" routerLink="clientes/novo-cliente" *ngIf="(mostrarMenuLojista)">
      <div class="card horizontal" style="margin-left: 3%; margin-right: 3%;">
        <div class="cards">
          <tr>
            <td>
              <!-- <img src="./imagens/lancar.png" width="50px" height="50px" /> -->
              <i class="large material-icons"> group_add</i>
            </td>
            <td>
              <p>Cadastrar Empresa </p>
            </td>
          </tr>
        </div>
      </div>
    </a>

     <!-- Cadastrar Lojista-->
    <a routerLinkActive="active" routerLink="/clientes/novo-lojista" *ngIf="(mostrarMenuLojista)">
      <div class="card horizontal" style="margin-left: 3%; margin-right: 3%;">
        <div class="cards">
          <tr>
            <td>
              <i class="large material-icons">group_add</i>
            </td>
            <td>
              <p>Criar usuário Lojista </p>
            </td>
          </tr>
        </div>
      </div>
    </a>

    <!-- Listas -->
    <a routerLinkActive="active" routerLink="/relatorios/relatorio-usuarios" *ngIf="(mostrarMenuLojista)">
      <div class="card horizontal" style="margin-left: 3%; margin-right: 3%;">
        <div class="cards">
          <tr>
            <td>
              <i class="large material-icons">list</i>
            </td>
            <td>
              <p>Listas </p>
            </td>
          </tr>
        </div>
      </div>
    </a>
    
  </div>

  <!-- 's6 m8 l10 offset-s6 offset-m4 offset-l2' -->
  <div class="col" [ngClass]="{'s1 m8 l10 offset-s12 offset-m4 offset-l2': (showMenuLateral == true) && (mostrarMenuLojista == true), 's12': (showMenuLateral == false) || (mostrarMenuLojista == false) }">
    <router-outlet></router-outlet>
  </div>

</div>