.navbar-color {
    background-color: #2f605f;
    border-color: #0a5151;
}

.row .col{
    padding: 0;
}

input {
    /* width: 450px;
    padding: 5px;
    margin: 15px;
    height: 25px; */
    background-image: url('../imagens/search-24.png');    
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -2px;
}

/* menu lateral */ 
#menuLateral{
    height:100vh;
    background: #EEEEEE;
    position: fixed;
    margin: 65px 0 0 0;
    /* overflow-y:hidden; */ /* para desabilitar o scroll */
    overflow-y:auto; /* para desabilitar o scroll */
}

#menuLateral:hover { 
    overflow-y:auto;
}

#divDivider{
    border-bottom: 2px solid #9E9E9E; 
}


