<div class="row">
  <div class="col s12 center-align">
    <div class="card-panel bordaVerde">
      <h5>Meus Colaboradores</h5>
    </div>
  </div>
</div>

<!-- card com os filtros -->
<div>
  <form #f="ngForm" (ngSubmit)="preencherTabela(f)">

  <div class="row" style="margin-bottom: 0">
  <div class="col s12">
    <div class="card-panel bordaVerde">
      <a class="waves-effect blue btn" (click)="mostrarEsconderFiltro()">
        <i class="large material-icons left">menu</i>Mais Campos</a>
        
      <div class="row" [hidden]="!mostrarFiltro">

          <p>
            <input type="checkbox" class="filled-in" id="genero" name="id" ngModel />
            <label for="genero">Id</label>
          </p>

          <p>
            <input type="checkbox" class="filled-in" id="contato" name="id_user" ngModel />
            <label for="contato">Id User</label>
          </p>

          <div class="row center-align" id="rowBtnFiltrar">
            <button class="btn waves-effect waves-light" type="submit" name="action">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row" style="margin-bottom: 0">
       <div class="col s12">
         <div class="card-panel bordaVerde">
          <div class="input-field col s12 m5 m5">
            <select materialize="material_select" [materializeSelectOptions]="empresas" ngModel name="empresaSelecionada" 
            data-beloworigin="true" required>
           <option value="todos" selected>Todos</option>
            <option *ngFor="let e of empresas" [value]="e.company_id">{{e.nome_company}}</option>
              </select>
              <label>Selecione uma empresa </label>
              </div>
           <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Ok</button>
          </div> 
        </div>
       </div>
      </div>

</form>
</div>

<!-- card com a tabela -->
<div class="row" style="margin-top:0">
  <div class="col s12 center-align">
    <div class="card-panel bordaVerde">

      <!-- div com o preloader -->
      <div class="row center-align" *ngIf="mostrarPreloader">
        <div class="center-align">
          <div class="preloader-wrapper big active" *ngIf="mostrarPreloader">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <h5>Usuários Cadastrados</h5> -->
      <table class="bordered centered striped responsive-table" *ngIf="!mostrarPreloader">
        <thead>
          <tr>
            <th *ngIf="id">Id</th>
            <th *ngIf="id_user">User id</th>
            <th style="cursor: pointer" (click)="ordenarData()" materialize="tooltip" class="tooltipped" data-position="top" data-delay="20"
              [attr.data-tooltip]="msgOrdDados">Data de Criação
              <i class="tiny material-icons grey-text text-lighten-1" *ngIf="ordData == null">unfold_more</i>
              <i class="tiny material-icons" *ngIf="ordData == false">arrow_drop_down</i>
              <i class="tiny material-icons" *ngIf="ordData == true">arrow_drop_up</i>
            </th>
            <th style="cursor: pointer" (click)="ordenarNome()">Nome
                <i class="tiny material-icons grey-text text-lighten-1" *ngIf="ordNome == null">unfold_more</i>
              <i class="tiny material-icons" *ngIf="ordNome == false">arrow_drop_down</i>
              <i class="tiny material-icons" *ngIf="ordNome == true">arrow_drop_up</i>
            </th>
            <th style="cursor: pointer" (click)="ordenarEmail()">E-mail
                <i class="tiny material-icons grey-text text-lighten-1" *ngIf="ordEmail == null">unfold_more</i>
              <i class="tiny material-icons" *ngIf="ordEmail == false">arrow_drop_down</i>
              <i class="tiny material-icons" *ngIf="ordEmail == true">arrow_drop_up</i>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let dado of dadosTabela">
            <td style="margin-top:5px;margin-bottom:5px" *ngIf="id">
              <span>{{dado.id}}</span>
            </td>
            <td style="margin-top:5px;margin-bottom:5px" *ngIf="id_user">
              <span>{{dado.user_id}}</span>
            </td>

            <td style="margin-top:5px;margin-bottom:5px">
              <span>{{dado.data}}</span>
            </td>

            <td style="margin-top:5px;margin-bottom:5px">
              <span></span>
              <a class="collection-item" routerLink="/clientes/novo-lojista" [queryParams]="{u:dado.user_id,a:'update'}">{{dado.nome}}</a>
            </td>

            <td style="margin-top:5px;margin-bottom:5px">
              <span>{{dado.email}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>