<div class="container">
  <div class="row">

    <div class="col s12 m8 l8 offset-m2 offset-l2">
      <div class="card-panel">

        <!-- div com o preloader -->
        <div class="row" *ngIf="mostrarPreloader">
          <div class="center-align">
            <div class="preloader-wrapper big active" *ngIf="mostrarPreloader">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- div com o formulario -->
        <div class="row" *ngIf="!mostrarPreloader">

          <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">

            <!-- input nome -->
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input id="nome" [(ngModel)]="nome" type="text" class="validate" ngModel name="nome" required/>
                <label for="nome" class="active">Nome do colaborador</label>
              </div>
            </div>

            <!-- input funcao -->
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input id="funcao" [(ngModel)]="funcao" type="text" class="validate" ngModel name="funcao" required/>
                <label for="funcao" class="active">Cargo ou função</label>
              </div>
            </div>

            <div class="row">
              <span>Permissão Módulo CashBack</span>
              <div class="switch">
                <label>
                  Desabilitado
                  <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagPermissao('cash')">
                  <span class="lever"></span>
                  Habilitado
                </label>
              </div>
            </div>

            <div class="row">
              <span>Permissão Módulo Campanha</span>
              <div class="switch">
                <label>
                  Desabilitado
                  <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagPermissao('cam')">
                  <span class="lever"></span>
                  Habilitado
                </label>
              </div>
            </div>

            <div class="row">
              <span>Permissão Módulo Clientes</span>
              <div class="switch">
                <label>
                  Desabilitado
                  <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagPermissao('cli')">
                  <span class="lever"></span>
                  Habilitado
                </label>
              </div>
            </div>

            <div class="row">
              <span>Permissão Módulo Configurações</span>
              <div class="switch">
                <label>
                  Desabilitado
                  <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagPermissao('conf')">
                  <span class="lever"></span>
                  Habilitado
                </label>
              </div>
            </div>

            <div class="row">
              <span>Permissão Módulo PowerBi</span>
              <div class="switch">
                <label>
                  Desabilitado
                  <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagPermissao('power')">
                  <span class="lever"></span>
                  Habilitado
                </label>
              </div>
            </div>

            <div class="row">
              <span>Permissão Módulo Relatórios</span>
              <div class="switch">
                <label>
                  Desabilitado
                  <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagPermissao('rel')">
                  <span class="lever"></span>
                  Habilitado
                </label>
              </div>
            </div>

            <!-- linha com o botao -->
            <div class="row" style="margin-top: 10px">
              <button class="btn waves-effect waves-light col s4 offset-s4" type="submit" name="action" [disabled]="!f.valid">Ok</button>
            </div>
          </form>

        </div>
      </div>
    </div>


  </div>
</div>