
<div class="container">

  <div class="row">

    <div class="col" class="s12">
      <div class="card-panel" id="cardEdit">

          <h5>Cadastrar Empresa </h5>
          
        <div class="row" *ngIf="!mostrarPreloader">
          <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">

            <!-- nome da empresa -->
            <div class="row">
              <div class="input-field col s12 m6 l12">
                <i class="material-icons prefix">person</i>
                <input id="nome" type="text" class="validate" name="nome" focus="!f.valid" ngModel required />
                <label class="active" for="nome">Nome da empresa </label>
              </div>

            </div>

            <!-- cnpj -->
            <div class="row">
              <div class="input-field col s12 m4 l4">
               <i class="material-icons prefix">person</i>
            <input  id="cnpj" type="tel" ui-mask="99.999.999/9999-99"[(ngModel)]="cnpjCliente" class="validate" #cnpj="ngModel"
                required name="cnpj" ngModel />

                <label class="active" for="data">CNPJ</label>
              </div>

              <div class="input-field col s12 m4 m4">
                
                  <a class="waves-effect waves-light btn" (click)="mostrarEsconderPermissoes()">Permissões</a>
              </div>
 



            </div>

            <!-- linha celular telefone-->
            <div class="row">
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">phone_iphone</i>
                <!-- [textMask]="{mask: masktel}" -->
                <input [textMask]="{mask: maskcel}" id="celular" [(ngModel)]="celular" type="tel" class="validate" ngModel name="celular"
                  required />
                <label for="celular" class="active">Celular</label>
              </div>

              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">phone</i>
                <input [textMask]="{mask: masktel}" id="telefone" [(ngModel)]="telefone" type="tel" class="validate" ngModel name="telefone"
                />
                <label for="telefone" class="active">Telefone</label>
              </div>
            </div>

            <!-- input do cep  numero complemento-->
            <div class="row">
              <!-- input do cep -->
              <div class="input-field col s12 m4 l4">
                <i class="material-icons prefix">edit_location</i>
                  <input [textMask]="{mask: maskCep}" id="cep" type="text" (input)="buscarCep(cep)" class="validate" #cep="ngModel" name="cep"
                    ngModel required pattern="([0-9]{2}[\.]?[0-9]{3}[\-]?[0-9]{3})" />
                  <label class="active" for="cep">CEP</label>
              </div>

              <!-- input do numero -->
              <div class="input-field col s12 m4 l4">
                <i class="material-icons prefix">edit_location</i>
                <input id="numero" type="number" class="validate" name="numero" ngModel required />
                <label class="active" for="numero">Número</label>
              </div>

              <!-- input do complemento -->
              <div class="input-field col s12 m4 l4">
                <i class="material-icons prefix">edit_location</i>
                <input id="complemento" type="text" class="validate" name="complemento" ngModel />
                <label class="active" for="complemento">Complemento</label>
              </div>
            </div>

            <!-- input do logradouro -->
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">edit_location</i>
                <input id="logradouro" type="text" [ngModel]="dadosEndereco?.logradouro" class="validate" placeholder="Rua, A.v ... (Preencha o cep)"
                  name="logradouro" ngModel required />
                <label class="active" for="logradouro">Logradouro</label>
              </div>
            </div>

            <!-- input do bairro  cidade estado -->
            <div class="row">
              <!-- input do bairro -->
              <div class="input-field col s12 m4 l4">
                <i class="material-icons prefix">edit_location</i>
                <input id="bairro" type="text" [ngModel]="dadosEndereco?.bairro" placeholder="Preencha o cep" class="validate" name="bairro"
                  ngModel required />
                <label class="active" for="bairro">Bairro</label>
              </div>

              <!-- input do cidade -->
              <div class="input-field col s12 m4 l4">
                <i class="material-icons prefix">edit_location</i>
                <input id="cidade" type="text" [ngModel]="dadosEndereco?.localidade" placeholder="Preencha o cep" class="validate" name="cidade"
                  ngModel required />
                <label class="active" for="cidade">Cidade</label>
              </div>

              <!-- input do estado -->
              <div class="input-field col s12 m4 l4">
                <i class="material-icons prefix">edit_location</i>
                <input id="Estado" type="text" [ngModel]="dadosEndereco?.uf" placeholder="Preencha o cep" class="validate" name="estado"
                  ngModel required />
                <label class="active" for="estado">Estado</label>
              </div>
            </div>

        <!-- Botões -->
        <div class="perm" [hidden]="!mostrarPermissoes">
        <div class="row">
            <span>Permissão Módulo CashBack</span>
            <div class="switch">
              <label>
                Desabilitado
                <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagPermissao('cash')">
                <span class="lever"></span>
                Habilitado
              </label>
            </div>
          </div>

          <div class="row">
            <span>Permissão Módulo Campanha</span>
            <div class="switch">
              <label>
                Desabilitado
                <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagPermissao('cam')">
                <span class="lever"></span>
                Habilitado
              </label>
            </div>
          </div>

          <div class="row">
            <span>Permissão Módulo Clientes</span>
            <div class="switch">
              <label>
                Desabilitado
                <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagPermissao('cli')">
                <span class="lever"></span>
                Habilitado
              </label>
            </div>
          </div>

          <div class="row">
            <span>Permissão Módulo Configurações</span>
            <div class="switch">
              <label>
                Desabilitado
                <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagPermissao('conf')">
                <span class="lever"></span>
                Habilitado
              </label>
            </div>
          </div>

          <div class="row">
            <span>Permissão Módulo PowerBi</span>
            <div class="switch">
              <label>
                Desabilitado
                <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagPermissao('power')">
                <span class="lever"></span>
                Habilitado
              </label>
            </div>
          </div>

          <div class="row">
            <span>Permissão Módulo Relatórios</span>
            <div class="switch">
              <label>
                Desabilitado
                <input type="checkbox" [checked]="check" id="flag" name="flag" (change)="mudarFlagPermissao('rel')">
                <span class="lever"></span>
                Habilitado
              </label>
            </div>
          </div>
        </div>
<!-- Botões -->

            <!-- linha com os botoes -->
            <div class="row">
              <div>
                
                <button class="btn waves-effect waves-light col s12 m4 l4 offset-m4 offset-l4" type="submit" name="action" [disabled]="!f.valid" >Registrar
                  <i class="material-icons left">perm_identity</i>
                </button>
              </div>
            </div>

          </form>
        </div>

        <!-- preloader -->
        <div class="divPreloader" *ngIf="mostrarPreloader">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>