.buttondiv{
    background-position: top;
    padding: 0px 1% 0 95%;
    /* position: fixed; */
    /* bottom: 25px; */
    float: right;  
}

.collection{
    height: 500px; 
    overflow: "auto";
}

#carCenter{
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#rowBtnFiltrar{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

agm-map{
    width: 100%;
    height: 100vh;
}
